{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="{% static 'css/style.css' %}" TYPE="text/css">
    <title>matplot</title>
  </head>
  <body>
      <div class="contenedor">
        <div><img  src="data:image/png;base64,{{data}}" alt="" height="250", width="350"></div>
      <p>contrast stretching</p>
      <!--<form action='ecualizar' method='GET'>
        <button class="button1" type="submit">Ecualizacion</button>
      </form>
      <form action='home' method='GET'>
        <button class="button2" type="submit">Thresholding</button>
      </form>
      <form action='logaritmear' method='GET'>
        <button class="button3" type="submit">Logaritmo</button>
      </form>
      <form action='exponenciar' method='GET'>
        <button class="button4" type="submit">Exponencial</button>
      </form>-->
      <form action='home' method = 'GET'>
        <button class='button10' type="submit">Regreso Home</button>
      </form>
      <div>
        <input type="text" value="">
        <label for="min">porcentaje de lado minimo</label>
        <input type="text" value="">
        <label for="max">porcentaje de lado maximo</label>
      </div>
    </div>
  </body>
</html>
