{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>

    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="{% static 'css/style.css' %}" TYPE="text/css">
    <title>matplot</title>

  </head>
  <body>

      <div class="contenedor">

        <div><img  src="data:image/png;base64,{{data}}" alt="" height="250", width="350"></div>

      <p>contrast stretching</p>

      <form action='home' method = 'GET'>

        <button class='button10' type="submit">Regreso Home</button>

      </form>
      <form method="POST" action="Contrast_custom">

        {% csrf_token %}
        <h1>Porcentajes de limitacion</h1><br>
        <table>

            <!-- En tabla se encuentran los input para lo datos que pueden variar dentro de la funcion -->
            <!-- Desde que porcentaje tomara el valor MINIMO -->
            <tr>

                <td><label for="valor1">porcentaje de lado minimo</label></td>
                <td><input type="text" name="valor1" id="valor1" required ></td>

            </tr>
            <!-- Desde que porcentaje tomara el valor MAXIMO -->
            <tr>

                <td><label for="valor2">porcentaje de lado maximo</label></td>
                <td><input type="text" name="valor2" id="valor2" required></td>

            </tr>
            <tr>

                <td></td>
                <td><input type="submit" value="Modificar"></td>

            </tr>

        </table>
        
      </form>
      </div>

  </body>

</html>
