{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="{% static 'css/style.css' %}" TYPE="text/css">
    <title>matplot</title>
  </head>
  <body>
      <div class="contenedor">
        <div><img  src="data:image/png;base64,{{data}}" alt="" height="250", width="350"></div>
      <p>Ecualizacion</p>

      <form action='home' method = 'GET'>
        <button class='button10' type="submit">Regreso Home</button>
      </form>
      <form method="POST" action="Ecualizacion_custom">
            {% csrf_token %}
            <h1>Porcentajes de limitacion</h1><br>
        <table>
            <tr>
                <td><label for="valorx1">X1</label></td>
                <td><input type="text" name="valorx1" id="valorx1" required ></td>
                <td><label for="valory1">Y1</label></td>
                <td><input type="text" name="valory1" id="valory1" required ></td>
            </tr>
            <tr>
                <td><label for="valorx2">X2</label></td>
                <td><input type="text" name="valorx2" id="valorx2" required></td>
                <td><label for="valory2">Y2</label></td>
                <td><input type="text" name="valory2" id="valory2" required></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Modificar"></td>
            </tr>
        </table>
      </form>
      </div>
  </body>
</html>
