<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="style.css" TYPE="text/css">
    <title>matplot</title>
  </head>
  <body>
      <div id="contenedor">
        <div><img  src="data:image/png;base64,{{data}}" alt="" height="250", width="350"></div>
      </div>
      <p>Exponencial</p>
      <form action='home' method='GET'>
        <button type="submit" style="position: absolute;top: 10%;left: 50%;">Thresholding</button>
      </form>
      <form action='contrastar' method='GET'>
        <button type="submit" style="position: absolute;top: 20%;left: 50%;">Contrast</button>
      </form>
      <form action='logaritmear' method='GET'>
        <button type="submit" style="position: absolute;top: 30%;left: 50%;">Logaritmo</button>
      </form>
      <form action='ecualizar' method='GET'>
        <button type="submit" style="position: absolute;top: 40%;left: 50%;">Ecualizacion</button>
      </form>
  </body>
</html>
