{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="{% static 'css/style.css' %}" TYPE="text/css">
    <title>matplot</title>
  </head>
  <body>
      <div class="contenedor">
        <form action='ecualizar' method='GET'>
          <button class="button1" type="submit" >Ecualizacion</button>
        </form>
        <form action='contrastar' method='GET'>
          <button class="button2" type="submit" >Contrast</button>
        </form>
        <form action='logaritmear' method='GET'>
          <button class="button3" type="submit">Logaritmo</button>
        </form>
        <form action='exponenciar' method='GET'>
          <button class="button4" type="submit" >Exponencial</button>
        </form>
        <br>
        <form action='image_upload' method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
        </br>
      </div>
      <p>thresholding</p>


  </body>
</html>
<!--data:image/png;base64,{{data}}-->
