{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="{% static 'css/style.css' %}" TYPE="text/css">
    <title>matplot</title>
  </head>
  <body>
      <div class="contenedor">
        <div><img  src="data:image/png;base64,{{data}}" alt="" height="250", width="350"></div>
      <p>Raise to Power</p>
      <!--<form action='home' method='GET'>
        <button class="button1" type="submit">Thresholding</button>
      </form>
      <form action='contrastar' method='GET'>
        <button class="button2" type="submit">Contrast</button>
      </form>
      <form action='logaritmear' method='GET'>
        <button class="button3" type="submit">Logaritmo</button>
      </form>
      <form action='ecualizar' method='GET'>
        <button class="button4" type="submit">Ecualizacion</button>
      </form>-->
      </div>
      <div>
        <input type="text" value="">
        <label for="Cex">valor de C</label>
      </div>
  </body>
</html>
