{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>

    <meta charset="utf-8">
    <LINK REL=StyleSheet HREF="{% static 'css/style.css' %}" TYPE="text/css">
    <title>matplot</title>

  </head>
  <body>

      <div class="contenedor">

        <div><img  src="data:image/png;base64,{{data}}" alt="" height="250", width="350"></div>

      <p>Thresholding</p>
      <form method="POST" action="func1">

            {% csrf_token %}
            <h1>Valores para de la limitacion</h1><br>

        <table>

            <!-- En tabla se encuentran el input de la que se considerara valor minimo para hacer el thresholding -->
            <tr>

                <td><label for="valor1">MINIMO</label></td>
                <td><input type="text" name="valor1" id="valor1" required ></td>

            </tr>
            <tr>

                <!-- En tabla se encuentran el input de la que se considerara valor maximo para hacer el thresholding -->
                <td><label for="valor2">MAXIMO</label></td>
                <td><input type="text" name="valor2" id="valor2" required></td>

            </tr>
            <tr>

                <td></td>
                <td><input type="submit" value="Modificar"></td>

            </tr>

        </table>

    </form>

      <form action='home' method = 'GET'>

        <button class='button10' type="submit">Regreso Home</button>

      </form>
      </div>
      <div>

        <input type="text" value="">
        <label for="Cex">valor de C</label>

      </div>

  </body>

</html>
